* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html {
  font-size: 15px;

  @media screen and (max-width: 500px) {
      font-size: 10px;
  }
  
  background: #99d6d1;
}

body {
  margin: 0;
  color: #222222;
  background: #F5F5F5;
}

.errorMessage {
  color: #f00;
}

.app {
  position: relative;
  min-height: 100vh;
  height: auto;
}
